<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vo Minh Vu Capstone Project</title>
</head>
<body>
    <img src="https://images.unsplash.com/photo-1688939302227-cf0ce70a9c78?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1075&q=80">
    <h1>Cloud DevOps Engineer</h1>
    <h2>PIC: Vo Minh Vu </h2>
    <h3>version: 2.0 </h3>
</body>
</html>